<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/app.css">
  <title>Document</title>
</head>
<body class="body">
  <header class="header">
    <h2 class="logo">Nicos Project</h2>
  </header>
  <section class="section"></section>
  <footer class="footer"></footer>
</body>
</html>